import(IRanges)

export(ph525x)
export(genemodel, modPlot, modTrack)

export(seqcAbst, seqcDesign, obesTitle, obesManh)
export(esetDet1, esetDet2)
export(dbSNPPath, viewHreads14)
export(getilgf, showGeneBySite)
export(parseIDF, parseSDRF)
export(seqc.eSet)
export(sydhTop)
export(summex)
export(plotRanges)
export(reposition)
export(dfHclust)
export(esrraScan)
export(sglToCircos)
export(showz)
export(ggshot)
export(firehose)
export(benchOOM)
export(nastitle,stodden1,stodden2)
export(rainfall)
export(kataegis)
